html,
body,
#root {
  min-height: 100vh;
  overflow-y: auto;
  background-color: transparent;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 22px;
}

.layout-wrapper {
  align-items: stretch;
  display: flex;
  min-height: 100vh;
}
