/* .custom-date-picker {
  
} */

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  @extend .control;
}

.react-datepicker__input-container input {
  @extend .input;
}

.select, .select > select {
  width: 100%;
}

.register-fieldset > div {
  margin-bottom: 20px;
}

.labelWrapper {
  display: inline-flex;
  padding-top: 0;
  margin-bottom: 4px;

  .label {
    font-size: 1.2em;
    letter-spacing: 0.4px;
    line-height: 1;
  }
}

.required-sign {
  color: red;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 12px;
  margin-left: 8px;
  span {
    color: orange;
    font-size: 1.5rem;
    position: absolute;
    top: 3px;
  }
}

.error {
  color: red;
}
