.login-page {
  align-items: center;
  background: $white;
  display: flex;
  justify-content: center;
  letter-spacing: 0.6px;
  min-width: 100%;
  min-height: 100vh;
}

.login-container {
  // border: 1px solid red;
}
